:root{
    --verde: #27804f;
    --blanco: #fff;
    --jade: #53b27d;
    --oscuro: #000;
    --celeste: #1964db;
    --títulos: 'Arima Madurai',cursive;
    --párrafos: 'Mulish', sans-serif;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

h1,h2{
    font-family: var(--títulos);
}

h3, p, a{
    font-family: var(--párrafos);
}

img{
    max-width: 95%;
}

.celeste {
    color: var(--celeste);
}

.ocultar{
    display: none;
}

.btn-cerrar{
    font-size: 2rem;
    font-weight: bold;
    color: var(--blanco);
    position: absolute;
    top: 0;
    right: 30px;
    user-select: none;
}

.btn-cerrar:hover{
    cursor: pointer;
}

.btn{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    padding: 1rem 4rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.bordes{
    border: 4px solid var(--blanco);
}

.bordes:hover{
    color: var(--verde);
    background-color: var(--blanco);
}

.btn-jade{
    background-color: var(--jade);
    font-weight: bold;
}

.btn-verde{
    background-color: var(--verde);
    border: none;
    display: inline-block;
    margin-bottom: 2rem;
    font-family: var(--párrafos);
}


.pantalla-completa{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 4;
}

@keyframes desplazamiento{
    0%{
        transform: translateX(100%);
    }
}


/*Encabezado*/

.contenedor-navegación{
    background-color: var(--oscuro);
    position: relative;
    z-index: 5;
}
.contenido-navegación{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2, .navegación a{
    color: var(--blanco);
}

.logo h2{
    font-size: 2rem;
}

.navegación a{
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    display: block;
    transition: color ,1s ease-in-out;
}

.navegación a:nth-child(even):hover{
    color: var(--celeste);
}

.navegación a:nth-child(odd):hover{
    color: var(--rojo);
}

.navegación a:first-of-type{
    margin-top: 3rem;
}

.navegación {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 20rem;
    padding: 2rem 3rem;
    background-color: var(--oscuro);
    animation: desplazamiento .5s ease-in-out;
}

.marino:hover{
    cursor: pointer;
}

.marino span{
    background-color: var(--blanco);
    display: block;
    width: 3rem;
    height: .3rem;
    margin-bottom: .3rem;

}

/* Video */

.contenido-header{
    position: relative;
}

.contenido-header::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.texto-encabezado{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-encabezado h2{
    color: var(--blanco);
    font-size: 8rem;
    margin-bottom: .2rem;
}

video{
    width: 100%;
    height: 100%;
}

/*Sobre nosotros*/

.contenedor-nosotros{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

.texto-nosotros, .imagenes-nosotros{
    flex: 0 0 calc(50% - 1rem);
}

.texto-nosotros .bienvenida{
    font-size: 3rem;
    margin-bottom: .1rem;
    color: var(--verde);
}

.texto-nosotros h1{
    font-size: 4rem;
    margin-bottom: .1px;
    margin-top: 1px;
    color: var(--celeste);
}

.texto-nosotros p{
    font-size: 1rem;
    margin-bottom: 3rem;
    display: inline-block;
}

.imagenes-nosotros{
    display: flex;
    justify-content: space-between;
}

.imagenes-nosotros img{
    border-radius: 5px;
}

.imagen1, .imagenes2{
    flex: 0 0 calc(50%-1rem);
}

.imagenes2{
    margin-bottom: 1rem;
}

.menu{
    padding: 4rem;
}

/*Tipos de ecosistemas*/

.texto-tipos{
    text-align: center;
    font-size: 5rem;
}

.botones-clasificar{
    display: inline-block;
    flex: unset;
}

.tipos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tipo{
    flex: 0 0 calc(33% - 1rem);
    padding: .1rem;
}

.tipo h2{ 
    text-align: center;
}

.tipo p{
    font-size: 1rem;
}